In [3]:
import re
import requests
import json

In [13]:
monthpart = r"""(?:jan(?:uary)?|feb(?:ruary)?|mar(?:ch)?|apr(?:il)?|may|jun(?:e)?|jul(?:y)?|aug(?:ust)?|sep(?:tember)?|oct(?:ober)?|nov(?:ember)?|dec(?:ember)?)"""
daypart = r"\d{1,2}\w{0,2}"
yearpart = "\d{4}"

america = r"{} {},? {}".format(monthpart, daypart, yearpart)
europe = r"{} {} {}".format(daypart, monthpart, yearpart)

print(america)
print(europe)

amdate = re.compile(america, re.I)
eurodate = re.compile(europe, re.I)

(?:jan(?:uary)?|feb(?:ruary)?|mar(?:ch)?|apr(?:il)?|may|jun(?:e)?|jul(?:y)?|aug(?:ust)?|sep(?:tember)?|oct(?:ober)?|nov(?:ember)?|dec(?:ember)?) \d{1,2}\w{0,2},? \d{4}
\d{1,2}\w{0,2} (?:jan(?:uary)?|feb(?:ruary)?|mar(?:ch)?|apr(?:il)?|may|jun(?:e)?|jul(?:y)?|aug(?:ust)?|sep(?:tember)?|oct(?:ober)?|nov(?:ember)?|dec(?:ember)?) \d{4}

In [4]:
fulltextsURL = "https://storage.googleapis.com/atriskwiki/epa_fulltext.txt"
fulltexts = requests.get(fulltextsURL).text.split("\n")

In [25]:
extract_num = 666
trial = json.loads(fulltexts[extract_num])
text = trial[list(trial.keys())[0]]
print(text)

The Palestine Liberation Organization (PLO) (Arabic: منظمة التحرير الفلسطينية‎‎;  Munaẓẓamat at-Taḥrīr al-Filasṭīniyyah ) is an organization founded in 1964 with the purpose of the "liberation of Palestine" through armed struggle. It is recognized as the "sole legitimate representative of the Palestinian people" by over 100 states with which it holds diplomatic relations, and has enjoyed observer status at the United Nations since 1974. The PLO was considered by the United States and Israel to be a terrorist organization until the Madrid Conference in 1991. In 1993, the PLO recognized Israel's right to exist in peace, accepted UN Security Council resolutions 242 and 338, and rejected "violence and terrorism"; in response, Israel officially recognized the PLO as the representative of the Palestinian people.


== FoundingEdit ==
At its first summit meeting in Cairo in 1964, the Arab League initiated the creation of an organization representing the Palestinian people. The Palestinian National Council convened in Jerusalem on 28 May 1964. Concluding this meeting the PLO was founded on 2 June 1964. Its stated goal was the "liberation of Palestine" through armed struggle.


== IdeologyEdit ==
The ideology of the PLO was formulated in the founding year 1964 in the Palestinian National Covenant. The document is a combative anti-Zionist statement dedicated to the "restoration of the Palestinian homeland". It has no reference to religion. In 1968, the Charter was replaced by a comprehensively revised version.
Until 1993, the only promoted option was armed struggle. From the signing of the Oslo Accords, negotiation and diplomacy became the only official policy. In April 1996, a large number of articles, which were inconsistent with the Oslo Accords, were wholly or partially nullified.
The basic idea in the PLO's ideology is that Zionists had unjustly expelled the Palestinians from Palestine and established a Jewish state in place under the pretext of having historic and Jewish ties with Palestine. They demanded that Palestinian refugees should be allowed to return to their homes. This is expressed in the National Covenant:
Article 2 of the Charter states that ″Palestine, with the boundaries it had during the British mandate, is an indivisible territorial unit″, meaning that there is no place for a Jewish state. This article was adapted in 1996 to meet the Oslo Accords.
Article 20 states: ″The Balfour Declaration, the Mandate for Palestine, and everything that has been based upon them, are deemed null and void. Claims of historical or religious ties of Jews with Palestine are incompatible with the facts of history and the true conception of what constitutes statehood. Judaism, being a religion, is not an independent nationality. Nor do Jews constitute a single nation with an identity of its own; they are citizens of the states to which they belong″. This article was nullified in 1996.
Article 3 reads: ″The Palestinian Arab people possess the legal right to their homeland and have the right to determine their destiny after achieving the liberation of their country in accordance with their wishes and entirely of their own accord and will″.
The PLO has always, above all, the Palestinian people labelled as Arabs. This was a natural consequence of the fact that the PLO was an offshoot of the Arab League. It also has a tactical element, as to keep the backing of Arab states. Over the years, the Arab identity remained the stated nature of the Palestinian State. It is a reference to the ″Arab State″ envisioned in the UN Partition Plan.


=== Secular versus IslamicEdit ===
The PLO and its dominating faction Fatah are often contrasted to more religious orientated factions like Hamas and the Palestinian Islamic Jihad (PIJ). All, however, represent a predominant Muslim population. Practically the whole population of the Territories is Muslim, most of them Sunni. Only some 50,000 (ca 1%) of the 4.6 million Palestinians in the OPT is Palestinian Christian, whereas roughly 120,000-130,000 live in Israel and the vast majority in the Diaspora (estimated up to one half-million or more.
The National Charter has no reference to religion. Under President Arafat, the Fatah-dominated Palestinian Authority adopted the 2003 Amended Basic Law, which stipulates Islam as the sole official religion in Palestine and the principles of Islamic sharia as a principal source of legislation. The draft Constitution, which never materialized, contains the same provisions. At the time, the PLC did not include a single Hamas member. The draft Constitution was formulated by the ″Constitutional Committee″, appointed with the approval of the PLO.


== OrganizationEdit ==


=== StructureEdit ===

The PLO incorporates a range of generally secular ideologies of different Palestinian movements "committed to the struggle for Palestinian independence and liberation," hence the name of the organization. It formally is an umbrella organization that includes "numerous organizations of the resistance movement, political parties, and popular organizations." From the beginning, the PLO was designed as a government in exile, with a parliament (PNC), chosen by the Palestinian people, as the highest authority in the PLO, and an executing government (EC), elected by the PNC. In practice, however, the organization was rather a hierarchic one with a military-like character, needed for its function as liberation organization, the "liberation of Palestine".
Beside a Palestinian National Charter, which describes the ideology of the PLO, a constitution, named “Fundamental Law”, was adopted, which dictates the inner structure of the organization and the representation of the Palestinian people. A draft Constitution was written in 1963, to rule the PLO until free general elections among all the Palestinians in all the countries in which they resided could be held. The Constitution was revised in 1968.


=== InstitutionsEdit ===
The Palestinian National Council has 740 members and the Executive Committee or ExCo has 18 members. The Palestinian Central Council or CC or PCC, established by the PNC in 1973, is the second leading body of the PLO. The CC consists of 124 members from the PLO Executive Committee, PNC, PLC and other Palestinian organizations. The EC includes 15 representatives of the PLC. The CC functions as an intermediary body between the PNC and the EC. The CC makes policy decisions when PNC is not in session, acting as a link between the PNC and the PLO-EC. The CC is elected by the PNC and chaired by the PNC speaker.
The PNC serves as the parliament for all Palestinians inside and outside of the Occupied Palestinian Territory, including Jerusalem. The PLO is governed internally by its “Fundamental Law”, which describes the powers and the relations between the organs of the PLO.
Ahmad Shukeiri was the first Chairman of the PLO Executive Committee from 1964 to 1967. In 1967, he was replaced by Yahia Hammuda.Yasser Arafat occupied the function from 1969 until his death in 2004. He was succeeded by Mahmoud Abbas (also known as Abu Mazen).
According to an internal PLO document, the current PNC remains in function if elections are not possible. In absence of elections, most of the members of the PNC are appointed by the Executive Committee. The document further states that "the PNC represents all sectors of the Palestinian community worldwide, including numerous organizations of the resistance movement, political parties, popular organizations and independent personalities and figures from all sectors of life, including intellectuals, religious leaders and businessmen".


=== Challenged representationEdit ===
As of 2015, there have not been elections for many years, neither for the PNC, nor for the EC, the PCC and the President of the State of Palestine. The Executive Committee has formally 18 members, including its Chairman, but in past years many vacant seats in the Executive remained empty. Moreover, Hamas, the largest representative of the inhabitants of the Palestinian Territories alongside Fatah, is not represented in the PLO at all. The results of the last parliamentary elections for the PLC, held in the Territories in 2006, with Hamas as the big winner while not even a member of the PLO, "underlined the clear lack of a popular mandate by the PLO leadership", according to PASSIA. Individual elected members of the PLC representing Hamas, however, are automatically members of the PNC.
The representative status of the PLO is often challenged in the past. It was for example doubted in 2011 by a group of Palestinian lawyers, jurists and legal scholars, due to lack of elections. They questioned the PLO's legitimacy to alter the status and role of the Organisation in respect of their status within the UN. They demanded for immediate and direct elections to the Palestine National Council to ″activate representative PLO institutions in order to preserve, consolidate, and strengthen the effective legal representation of the Palestinian people as a whole″, before changing the status within the UN.


=== PLO versus PAEdit ===
The 1993-1995 Oslo Accords deliberately detached the Palestinian population in the Occupied Palestinian Territories from the PLO and the Palestinians in exile by creating a Palestinian Authority (PA) for the Territories. A separate parliament and government were established. Mahmoud Abbas was one of the architects of the Oslo Accords.
Although many in the PLO opposed the Oslo Agreements, the Executive Committee and the Central Council approved the Accords. It marked the beginning of the PLO’s decline, as the PA came to replace the PLO as the prime Palestinian political institution. Political factions within the PLO that had opposed the Oslo process were marginalized. Only during the Hamas-led PA Government in 2006-2007, the PLO resurfaced. After Hamas had taken over Gaza in 2007, Abbas issued a decree suspending the PLC and some sections of the Palestinian Basic Law, and appointing Salam Fayyad as Prime Minister.
The PLO managed to overcome the separation by keeping the power in PLO and PA in one hand, upheld by Yasser Arafat. In 2002, Arafat held the functions Chairman of the PLO/Executive Committee and Chairman of Fatah, the dominating faction within the PLO, as well as President of the Palestinian National Authority. He also controlled the Palestinian National Security Forces.


=== Internal politicsEdit ===
On 4 February 1969, Fatah founder Arafat was elected Chairman of the PLO in Cairo. Since, Fatah has been the dominant factor within the PLO, which still continues in 2015.
Under pressure from the international community led by Israel and US, and from inside his own party Fatah, Arafat partially transferred some of his strongly centralized power in 2003, causing strong tensions within the Palestinian leadership. Arafat appointed Mahmoud Abbas as prime minister, but this resulted in disputes about the transfer of tasks and responsibilities. Abbas was strongly supported by the US and the international community, because he was supposed to be more willing to give far-reaching concessions to Israel. While Arafat had retained most of his power and a power struggle within Fatah continued, the leadership was criticised for corruption and nepotism.
After Arafat's death, Abbas increasingly gained exclusive powers within both PLO and PA as well as in Fatah, until he had acquired the same power as previously Arafat. Critics say that Abbas even got more powers than Arafat. Abbas is criticized for his autocratic rule and refusal to share powers and plans with other Palestinians. In the absence of a functioning parliament and Executive, he even began to issue his own laws. Senior representative of Abbas' Fatah faction and former Fatah minister of prisoner affairs Sufian Abu Zaida complained that Abbas appointed himself as the chief judge and prosecutor, making a mockery of the Palestinian judicial system. There appeared reports of widespread corruption and nepotism within the Palestinian Authority. Only Hamas-ruled Gaza has a more or less functioning parliament.


==== 2015 struggle for powerEdit ====

With a de facto defunct parlement and Executive, Mahmoud Abbas increasingly gained exclusive powers within both PLO and PA as well as in Fatah. After the announcement in August 2015 of Abbas' resignation as Chairman of the Executive Committee and of nine other members as well, many Palestinians of the political scene saw the move as just an attempt to replace some members in the Executive Committee, or to force a meeting of the PNC and remain in their jobs until the PNC decides whether to accept or to reject their resignations. Met with fierce criticism by many Palestinian factions, a session of the PNC, who had to approve the resignations, was postponed indefinitely.


== Political statusEdit ==
The Palestine Liberation Organization is recognized by the Arab League as "the sole and legitimate representative of the Palestinian people", and by the United Nations as "the representative of the Palestinian people".
The PLO was designated a terrorist organization by the United States in 1987, but in 1988 a presidential waiver was issued which permitted contact with the organization. Most of the rest of the world recognized the PLO as the legitimate representatives of the Palestinian people from the mid-1970s onwards (after the PLO's admission to the UN as an observer.)
Israel considered the PLO to be a terrorist organization until the Madrid Conference in 1991. In 1993, PLO chairman Yasser Arafat recognized the State of Israel in an official letter to its prime minister, Yitzhak Rabin. In response to Arafat's letter, Israel decided to revise its stance toward the PLO and to recognize the organization as the representative of the Palestinian people. This led to the signing of the Oslo Accords in 1993.


=== Status at the United NationsEdit ===


==== Observer statusEdit ====
The United Nations General Assembly recognized the PLO as the "representative of the Palestinian people" in Resolution 3210 and Resolution 3236, and granted the PLO observer status on 22 November 1974 in Resolution 3237. On 12 January 1976 the UN Security Council voted 11–1 with 3 abstentions to allow the Palestinian Liberation Organization to participate in a Security Council debate without voting rights, a privilege usually restricted to UN member states. It was admitted as a full member of the Asia group on 2 April 1986.
After the Palestinian Declaration of Independence the PLO's representation was renamed Palestine. On 7 July 1998, this status was extended to allow participation in General Assembly debates, though not in voting.


==== 2011 application for UN state membershipEdit ====
When President Mahmoud Abbas submitted an application for UN state membership, in September 2011, Palestinian lawyers, jurists and legal scholars expressed their concern that the change of Palestine's status in the UN (since 1988 designated as "Palestine" in place of "Palestine Liberation Organization") could have negative implications on the legal position of the Palestinian people. They warned for the risk of fragmentation, where the State of Palestine would represent the people within the UN and the PLO represent the people outside the UN, the latter including the Palestinians in exile, where refugees constitute more than half of the Palestinian people. They were also afraid of the loss of representation of the refugees in the UN. In Resolution 67/19 of November 2012, Palestine was at last awarded non-member observer State status, but the General Assembly maintained the status of the PLO.


==== ′Non-member observer state′ statusEdit ====
By September 2012, with their application for full membership stalled due to the inability of Security Council members to 'make a unanimous recommendation', the PLO had decided to pursue an upgrade in status from "observer entity" to "non-member observer state". On 29 November 2012, Resolution 67/19 passed, upgrading Palestine to "non-member observer State" status in the United Nations. The new status equates Palestine's with that of the Holy See.


=== Diplomatic representationEdit ===

The Palestine Information Office was registered with the Justice Department of the United States as a foreign agent until 1968, when it was closed. It was reopened in 1989 as the Palestine Affairs Center. The PLO Mission office, in Washington D.C was opened in 1994, and represented the PLO in the United States. On 20 July 2010, the United States Department of State agreed to upgrade the status of the PLO Mission in the United States to "General Delegation of the PLO".


== Peace processEdit ==

Initially, as a guerrilla organization, the PLO performed actions against Israel in the 1970s and early 1980s, regarded as terroristic activities by Israel and regarded as a war of liberation by the PLO. In 1988, however, the PLO officially endorsed a two-state solution, contingent on terms such as making East Jerusalem capital of the Palestinian state and giving Palestinians the right of return to land occupied by Palestinians prior to 1948, as well as the right to continue armed struggle until the end of "The Zionist Entity." In 1996, the PLO nullified the articles of the PLO's Charter, or parts of it, which called for the destruction of Israel and for armed resistance.


=== Ten Point ProgramEdit ===
Following the failure of the armies of Egypt and Syria to defeat Israel in the October 1973 Yom Kippur War, which broke the status quo existing since the June 1967 Six Day War, the PLO began formulating a strategic alternative. Now, they intended to establish a ″national authority″ over every territory they would be able to reconquer. From 1 to 9 June 1974, the Palestine National Council held its 12th meeting in Cairo. On 8 June, the Ten Point Program was adopted. The Program stated:

″The Liberation Organization will employ all means, and first and foremost armed struggle, to liberate Palestinian territory and to establish the independent combatant national authority for the people over every part of Palestinian territory that is liberated. This will require further changes being effected in the balance of power in favour of our people and their struggle.″ (article 2)

With ″every part of Palestinian territory that is liberated″ was implicitly meant the West Bank and Gaza Strip, albeit presented as an interim goal. The final goal remained ″completing the liberation of all Palestinian territory″ and ″recover all their national rights and, first and foremost, their rights to return and to self-determination on the whole of the soil of their homeland″. Also UN Resolution 242 was still rejected.
While clinging to armed struggle as the prime means, the PLO did no longer exclude peaceful means.Therefore, the Ten Point Program was considered the first attempt by the PLO at peaceful resolution. In October 1974, the Arab League proclaimed the PLO ″the sole legitimate representative of the Palestinian people in any Palestinian territory that is liberated″, and also the UN recognized the PLO. From then, the diplomatic road was prepared. On the other hand, the Program was rejected by more radical factions and eventually caused a split in the movement.


=== First IntifadaEdit ===


In [26]:
eumatches = re.findall(eurodate, text)

In [27]:
eumatches

['28 May 1964',
 '2 June 1964',
 '4 February 1969',
 '22 November 1974',
 '12 January 1976',
 '2 April 1986',
 '7 July 1998',
 '29 November 2012',
 '20 July 2010',
 '9 June 1974',
 '20 August 1993',
 '13 September 1993',
 '20 January 1976',
 '1 October 1985',
 '2 June 1964',
 '24 December 1967',
 '24 December 1967',
 '2 February 1969',
 '4 February 1969',
 '11 November 2004',
 '29 October 2004',
 '11 November 2004',
 '8 June 1974',
 '8 June 2005']

In [28]:
ammatches = re.findall(amdate, text)

In [29]:
ammatches

['January 18, 2008']

In [30]:
def GetDatesFromArticle(articleText):
    return {'amdates':re.findall(amdate, articleText),
           'eurodates':re.findall(eurodate, articleText)}

In [31]:
foundDates = dict()
for article in fulltexts:
    json_article = json.loads(article)
    article_id = list(json_article.keys())[0]
    foundDates[article_id] = GetDatesFromArticle(json_article[article_id])

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [32]:
foundDates

{'15919665': {'amdates': ['November 10, 2009'], 'eurodates': []},
 '34513': {'amdates': ['May 23, 2955',
   'June 29, 1675',
   'March 1, 2653',
   'April 30, 1337'],
  'eurodates': []},
 '27935337': {'amdates': ['April 28, 1151'], 'eurodates': ['30 March 2016']},
 '93149': {'amdates': [],
  'eurodates': ['27 September 1925',
   '26 January 1930',
   '24 January 1947',
   '28 January 1947',
   '4 February 1948',
   '11 April 1949',
   '11 July 1949',
   '17 July 1947',
   '22 July 1947',
   '14 August 1947',
   '14 August 1947',
   '30 November 1949',
   '6 February 1950',
   '11 August 1954',
   '11 August 1954',
   '15 August 1955',
   '21 March 2009',
   '7 May 2012',
   '15 January 2000',
   '25 February 2002',
   '3 March 2002',
   '20 November 1949']},
 '58568': {'amdates': [],
  'eurodates': ['25 January 1952',
   '23 July 1952',
   '16 November 1968',
   '28 February 1955',
   '1 September 1951',
   '16 May 1956',
   '10 August 1956',
   '10 September 1956',
   '29 July 1956',
   '1 August 1956',
   '25 September 1956',
   '7 August 1956',
   '1 September 1956',
   '6 September 1956',
   '25 September 1956',
   '30 September 1956',
   '5 October 1956',
   '22 October 1956',
   '11 August 1956',
   '8 September 1956',
   '29 October 1956',
   '31 October 1956',
   '15 December 1956',
   '2 November 1956',
   '1 November 1956',
   '6 November 1956',
   '22 December 1956',
   '24 April 1957',
   '5 January 1957',
   '9 January 1957',
   '6 December 2009',
   '1 August 1956',
   '3 October 1956',
   '6 November 1956',
   '6 November 1956',
   '9 November 1956',
   '9 November 1956',
   '14 November 1956',
   '14 November 1956']},
 '19323190': {'amdates': ['June 1, 1986',
   'September 13, 2007',
   'September 13, 2007',
   'July 13, 2008',
   'June 3, 2012'],
  'eurodates': ['27 March 2009', '1 April 2009']},
 '19366130': {'amdates': ['Nov 13, 2007', 'Feb 28, 2007'], 'eurodates': []},
 '152860': {'amdates': ['February 6, 1917',
   'February 6, 1917',
   'April 10, 1942',
   'April 2, 1949',
   'April 2, 1954',
   'November 5, 1962',
   'March 3, 1966',
   'March 9, 1966',
   'October 18, 1967',
   'January 21, 1975',
   'August 24, 1976',
   'August 27, 1976',
   'April 13, 1983',
   'April 14, 1983',
   'August 14, 1986',
   'March 10, 1947',
   'January 5, 2015',
   'March 4, 2014',
   'June 14, 1989',
   'September 29, 1989',
   'October 25, 1989',
   'June 14, 1990',
   'July 30, 1990',
   'January 25, 2009',
   'November 28, 2002',
   'February 8, 2016'],
  'eurodates': ['11 April 2016']},
 '412879': {'amdates': ['December 11, 1931',
   'June 18, 1965',
   'June 30, 2010',
   'January 18, 2014',
   'May 7, 2016'],
  'eurodates': []},
 '654834': {'amdates': ['January 16, 1970',
   'September 23, 2011',
   'July 25, 2011',
   'August 11, 2011',
   'June 20, 2013',
   'October 6, 1990',
   'April 25, 2008'],
  'eurodates': []},
 '18600876': {'amdates': [], 'eurodates': ['4 August 1737']},
 '11290337': {'amdates': [],
  'eurodates': ['21 January 1989',
   '21 January 1989',
   '16 July 2009',
   '16 March 2013',
   '11 May 2013',
   '10 July 2013',
   '18 August 2013',
   '6 August 2015',
   '20 April 2016',
   '2 July 2016',
   '14 January 2007',
   '10 September 2013',
   '27 May 2014',
   '20 May 2016',
   '1 June 2016']},
 '9636145': {'amdates': [], 'eurodates': ['21 January 1957']},
 '27959863': {'amdates': [], 'eurodates': []},
 '34684163': {'amdates': ['February 21, 2012',
   'March 3, 2012',
   'August 17, 2012',
   'December 23, 2013',
   'October 1, 2011',
   'December 14, 2011',
   'January 20, 2012',
   'December 24, 2011',
   'February 21, 2012',
   'February 21, 2012',
   'July 30, 2012',
   'August 17, 2012',
   'October 1, 2012',
   'September 23, 2013',
   'September 27, 2013',
   'September 13, 2012',
   'June 30, 2013',
   'September 30, 2013',
   'December 19, 2013',
   'April 6, 2012',
   'February 1, 2013',
   'August 9, 2012',
   'September 21, 2012',
   'October 31, 2012',
   'September 21, 2012',
   'September 7, 2012',
   'February 18, 2013',
   'January 16, 2013',
   'December 19, 2013',
   'December 23, 2013',
   'February 6, 2014',
   'February 18, 2014',
   'February 19, 2014',
   'March 6, 2014'],
  'eurodates': ['6 March 2014',
   '21 January 2013',
   '4 April 2014',
   '19 October 2012',
   '24 July 2013',
   '19 February 2014']},
 '2480627': {'amdates': ['May 4, 1961',
   'September 6, 1962',
   'November 18, 1968',
   'April 15, 1955',
   'August 27, 2007',
   'March 1, 2015',
   'January 28, 2015',
   'August 20, 2014',
   'August 23, 2014',
   'August 5, 2013',
   'May 22, 2008',
   'September 8, 2009',
   'May 8, 2014',
   'June 30, 2016',
   'April 20, 2004',
   'June 30, 2016'],
  'eurodates': ['10 November 2015']},
 '22407875': {'amdates': ['January 2, 2010', 'February 21, 2010'],
  'eurodates': []},
 '30902154': {'amdates': ['September 20, 2011',
   'March 12, 2013',
   'June 24, 2016'],
  'eurodates': []},
 '20767027': {'amdates': [], 'eurodates': ['3 June 1843']},
 '2480306': {'amdates': ['September 26, 2005'], 'eurodates': []},
 '24551001': {'amdates': [],
  'eurodates': ['8 November 2009',
   '6 September 2009',
   '8 November 2009',
   '21 November 2009',
   '22 September 2009',
   '11 November 2009',
   '21 November 2009']},
 '21180': {'amdates': ['August 26, 1994',
   'January 12, 2007',
   'April 7, 2015',
   'August 23, 1994'],
  'eurodates': []},
 '22556240': {'amdates': ['August 13, 1990',
   'February 28, 2008',
   'March 9, 2009',
   'April 7, 2009',
   'April 7, 2010',
   'July 7, 2010',
   'January 1, 2012',
   'January 5, 2012',
   'February 8, 2012',
   'November 11, 2012',
   'December 22, 2012',
   'December 24, 2012',
   'September 30, 2013',
   'February 26, 2014',
   'December 7, 2014',
   'January 30, 2015',
   'April 1, 2015',
   'October 28, 2015',
   'January 4, 2016'],
  'eurodates': []},
 '319799': {'amdates': ['June 19, 1951',
   'December 27, 2007',
   'August 7, 1998',
   'October 10, 2001',
   'February 23, 1998',
   'June 24, 1998',
   'April 30, 2009',
   'May 2, 2011',
   'June 16, 2011',
   'December 1, 1996',
   'September 11, 2001',
   'January 13, 2006',
   'August 1, 2008',
   'July 29, 2008',
   'August 2, 2008',
   'September 9, 2004',
   'August 4, 2005',
   'September 1, 2005',
   'September 19, 2005',
   'December 7, 2005',
   'April 3, 2008',
   'April 22, 2008',
   'September 11, 2001',
   'January 7, 2009',
   'June 2, 2009',
   'July 15, 2009',
   'October 4, 2009',
   'December 14, 2009',
   'December 14, 2009',
   'June 8, 2011',
   'September 3, 2014'],
  'eurodates': ['17 March 2011',
   '20 March 2011',
   '17 August 2013',
   '1 December 2005',
   '16 September 2002']},
 '555777': {'amdates': [], 'eurodates': []},
 '28774380': {'amdates': [], 'eurodates': []},
 '1241274': {'amdates': [], 'eurodates': []},
 '15490017': {'amdates': [], 'eurodates': []},
 '19031': {'amdates': [], 'eurodates': []},
 '33343240': {'amdates': [],
  'eurodates': ['15 October 1989',
   '11 July 2013',
   '5 October 2013',
   '26 October 2013',
   '14 November 2013',
   '12 July 2014',
   '13 September 2014',
   '11 October 2014',
   '31 January 2015',
   '4 April 2015',
   '9 May 2015',
   '30 May 2015',
   '12 September 2015',
   '12 December 2015',
   '9 April 2016',
   '25th June 2016']},
 '800': {'amdates': ['July 14, 1958'], 'eurodates': []},
 '19904525': {'amdates': ['February 9, 2011',
   'May 14, 2016',
   'April 15, 2014',
   'January 5, 2015',
   'November 28, 1998'],
  'eurodates': []},
 '3382': {'amdates': ['December 2, 1981',
   'January 12, 1999',
   'June 28, 1999',
   'September 7, 2000',
   'September 18, 2004',
   'December 10, 2011',
   'September 17, 2013',
   'December 27, 2013',
   'December 3, 2013',
   'September 16, 2013',
   'October 3, 1992',
   'November 3, 2013',
   'January 8, 2014',
   'July 26, 2014',
   'September 9, 2014',
   'September 25, 2014',
   'May 4, 2015',
   'June 16, 2015',
   'March 1, 2016',
   'March 8, 2016',
   'April 11, 2016',
   'May 22, 2016',
   'August 28, 2003',
   'October 1, 2008',
   'June 19, 2002',
   'June 17, 2016',
   'September 11, 2001',
   'October 30, 2001',
   'October 24, 2015'],
  'eurodates': []},
 '551753': {'amdates': ['August 21, 1992', 'May 21, 2002'],
  'eurodates': ['16 July 2001']},
 '27380692': {'amdates': [],
  'eurodates': ['25 October 2011', '22 September 2011', '26 October 2011']},
 '1390968': {'amdates': ['April 14, 2016', 'July 7, 2016'],
  'eurodates': ['23 March 1974',
   '17 December 2002',
   '13 April 2008',
   '5 May 2006',
   '21 July 2008',
   '26 May 2009',
   '25 September 2010',
   '24 September 2011',
   '26 February 2012',
   '26 May 2012',
   '3 March 2013',
   '25 May 2013',
   '7 December 2013',
   '5 August 2014',
   '20 September 2014',
   '21 October 2014',
   '10 May 2015',
   '15 November 2015',
   '20 March 2016',
   '9 July 2016',
   '22 May 2013']},
 '50113954': {'amdates': [],
  'eurodates': ['23 February 1968',
   '7 June 2012',
   '8 June 2012',
   '20 May 2016']},
 '28494217': {'amdates': [],
  'eurodates': ['2 August 1964', '18 February 2016']},
 '26621126': {'amdates': ['July 27, 1927',
   'July 11, 2014',
   'October 5, 1954',
   'April 29, 2014',
   'April 21, 1961',
   'May 20, 1961',
   'July 29, 1961',
   'March 20, 1962',
   'March 21, 1962',
   'June 6, 1968',
   'February 8, 1973',
   'May 5, 1976',
   'December 15, 1991',
   'October 5, 2005',
   'July 11, 2014',
   'January 18, 2004'],
  'eurodates': []},
 '13266004': {'amdates': [],
  'eurodates': ['27 May 1987',
   '21 July 2009',
   '4 October 2009',
   '12 July 2011',
   '23 October 2011',
   '3 December 2011',
   '27 December 2011',
   '18 February 2012',
   '8 August 2013',
   '21 January 2014',
   '30 August 2014',
   '17 September 2014',
   '4 March 2016',
   '15 January 2010',
   '15 June 2010',
   '9 June 2015']},
 '1321503': {'amdates': [],
  'eurodates': ['30 June 1978',
   '17 October 2007',
   '19 November 2007',
   '16 December 2008',
   '19 September 2005',
   '20 March 2007',
   '29 June 2007',
   '16 October 2007',
   '29 November 2008',
   '17 August 2010',
   '12 February 2006',
   '3 December 2006',
   '19 March 2007',
   '30 April 2007',
   '1 October 2007',
   '9 January 2012',
   '13 January 2012',
   '27 March 2012',
   '17 April 2012',
   '11 March 2015',
   '15 March 2015']},
 '8197313': {'amdates': ['December 13, 2004'], 'eurodates': []},
 '63971': {'amdates': ['December 1, 1914',
   'January 22, 2010',
   'May 6, 2014',
   'May 6, 2014',
   'May 6, 2014'],
  'eurodates': ['22 May 1975',
   '8 August 1975',
   '19 May 1993',
   '9 June 2005',
   '20 April 2013']},
 '4444054': {'amdates': [], 'eurodates': []},
 '941270': {'amdates': ['August 27, 2002'], 'eurodates': ['25 July 1993']},
 '14960830': {'amdates': ['January 26, 1944',
   'June 22, 2012',
   'October 9, 2012',
   'October 18, 2012',
   'October 31, 2012',
   'January 30, 2013',
   'November 15, 2011',
   'November 4, 2011',
   'November 5, 2011',
   'November 6, 2011',
   'December 7, 2011',
   'December 3, 2011',
   'June 11, 2012',
   'June 18, 2012',
   'June 21, 2012',
   'June 22, 2012',
   'October 9, 2042',
   'July 12, 2012',
   'August 24, 2012',
   'October 23, 2012',
   'October 31, 2012',
   'December 3, 2014',
   'March 25, 2013'],
  'eurodates': []},
 '21101073': {'amdates': ['July 11, 2009'], 'eurodates': []},
 '23166227': {'amdates': [], 'eurodates': ['10 February 1970']},
 '4930424': {'amdates': [], 'eurodates': []},
 '9209651': {'amdates': [], 'eurodates': []},
 '5577543': {'amdates': [], 'eurodates': []},
 '582945': {'amdates': ['November 3, 2014'],
  'eurodates': ['28 December 1964']},
 '20110967': {'amdates': [], 'eurodates': []},
 '30003': {'amdates': [],
  'eurodates': ['26 August 1854',
   '26 October 1861',
   '22 August 1865',
   '28 December 1871',
   '6 April 1875',
   '11 February 1876',
   '14 February 1876',
   '14 February 1876',
   '19 February 1876',
   '7 March 1876',
   '10 March 1876',
   '30 January 1877',
   '27 April 1877',
   '3 May 1892']},
 '149243': {'amdates': [],
  'eurodates': ['15 April 1990',
   '9 July 2007',
   '2 March 2007',
   '23 March 2007',
   '17 May 2008',
   '15 July 2009',
   '18 February 2009',
   '12 June 2010',
   '26 June 2010',
   '25 May 2014']},
 '856229': {'amdates': [], 'eurodates': []},
 '18247176': {'amdates': ['April 9, 1948',
   'November 29, 1947',
   'January 20, 1948',
   'April 11, 1948',
   'April 13, 1948'],
  'eurodates': []},
 '1831242': {'amdates': [],
  'eurodates': ['9 September 2006',
   '4 August 2009',
   '1 August 2012',
   '24 November 2015',
   '30 December 2015']},
 '9906294': {'amdates': [],
  'eurodates': ['28 July 1750',
   '28 July 1750',
   '21 March 1685',
   '31 March 1685',
   '3 April 1700',
   '24 April 1707',
   '7 July 1720',
   '3 December 1721',
   '30 May 1723',
   '28 July 1750']},
 '33647668': {'amdates': ['April 21, 1985'], 'eurodates': []},
 '19005769': {'amdates': ['August 7, 2009'], 'eurodates': []},
 '24998830': {'amdates': ['March 10, 1997'], 'eurodates': []},
 '19440836': {'amdates': ['November 14, 2000', 'February 23, 2009'],
  'eurodates': []},
 '13645': {'amdates': [], 'eurodates': []},
 '966195': {'amdates': ['February 16, 1916', 'February 6, 2011'],
  'eurodates': ['31 July 2000', '28 December 2002', '13 July 2009']},
 '34411': {'amdates': [], 'eurodates': []},
 '223204': {'amdates': [], 'eurodates': ['13 April 2008']},
 '50482': {'amdates': [], 'eurodates': []},
 '26795': {'amdates': ['June 28, 1846', 'June 28, 1846'], 'eurodates': []},
 '453420': {'amdates': ['March 18, 2009',
   'April 6, 2011',
   'April 14, 1945',
   'July 10, 2005',
   'November 13, 2007',
   'November 28, 2012'],
  'eurodates': ['13 November 2008', '19 July 2010', '10 October 1984']},
 '19527': {'amdates': ['December 26, 1893',
   'September 9, 1976',
   'October 1, 1949',
   'December 26, 1893',
   'May 4, 1919',
   'July 23, 1921',
   'August 1, 1927',
   'October 14, 1934',
   'December 25, 1937',
   'January 21, 1949',
   'December 10, 1949',
   'October 1, 1949',
   'March 25, 1959',
   'March 25, 1959',
   'August 4, 1968',
   'January 30, 1970',
   'May 27, 1976',
   'September 9, 1976',
   'December 25, 2008',
   'March 13, 2006',
   'October 15, 1870',
   'January 23, 1920',
   'October 5, 1919',
   'May 22, 1846',
   'November 23, 1904',
   'October 20, 1889',
   'October 16, 1950'],
  'eurodates': []},
 '13395562': {'amdates': ['April 14, 1996',
   'February 25, 2007',
   'October 27, 2007',
   'March 1, 2011'],
  'eurodates': []},
 '1839701': {'amdates': [], 'eurodates': ['11 April 2008']},
 '1938336': {'amdates': ['September 12, 1967',
   'September 12, 1967',
   'October 4, 2008',
   'April 18, 2009',
   'December 10, 2011',
   'December 21, 2011',
   'May 11, 2012',
   'April 13, 2013',
   'May 28, 2015',
   'June 29, 2010',
   'January 21, 2016',
   'January 30, 2016',
   'July 8, 2016',
   'November 3, 2012',
   'March 29, 2014',
   'May 16, 2015'],
  'eurodates': []},
 '19644': {'amdates': [],
  'eurodates': ['13 October 1933',
   '29 July 1933',
   '28 February 1939',
   '31 March 1939',
   '5 May 1939',
   '3 September 1939',
   '1 January 2016',
   '13 April 2010',
   '3 February 2010',
   '12 December 2013',
   '22 April 2009',
   '18 March 2005',
   '5 June 2000',
   '27 November 2009',
   '10 December 2004']},
 '252735': {'amdates': [],
  'eurodates': ['11 January 1973',
   '1 November 2012',
   '3 April 1996',
   '20 June 1996',
   '16 September 2011',
   '9 March 2012',
   '4 May 2003',
   '23 September 2010',
   '1 January 2000',
   '15 November 2003',
   '7 September 2004',
   '18 March 2006']},
 '1255986': {'amdates': ['October 29, 2001'], 'eurodates': []},
 '2947773': {'amdates': [],
  'eurodates': ['4 May 2016',
   '4 November 1970',
   '13 September 2006',
   '7 December 2010',
   '6 December 2011',
   '10 December 2013',
   '8 April 2014',
   '29 April 2008',
   '17 September 2008',
   '17 September 2014',
   '3 May 2016',
   '19 February 2014',
   '2 April 2013',
   '10 December 2013',
   '23 April 2014',
   '29 May 2016',
   '29 May 2016',
   '7 September 1955',
   '16 September 1992',
   '28 September 2004',
   '11 October 1988',
   '1 October 1997',
   '25 November 2014',
   '7 March 2007',
   '4 September 1955',
   '13 September 2000',
   '12 March 2002',
   '8 December 2009',
   '9 December 2009',
   '29 September 2010',
   '11 May 1966',
   '2 May 1962',
   '23 November 1994',
   '6 April 2016']},
 '5813': {'amdates': [],
  'eurodates': ['29 November 1898',
   '22 November 1963',
   '22 November 1963',
   '29 November 1898',
   '15 April 1918',
   '11 May 1926',
   '23 April 1956',
   '21 March 1957',
   '9 April 1973',
   '22 November 2013']},
 '8531': {'amdates': ['April 29, 2003'], 'eurodates': []},
 '19641': {'amdates': [], 'eurodates': []},
 '15457493': {'amdates': [],
  'eurodates': ['14 June 1940', '21 June 1940', '15 August 1944']},
 '3631334': {'amdates': [], 'eurodates': []},
 '5978347': {'amdates': ['March 14, 1977'], 'eurodates': ['23 December 1649']},
 '16810': {'amdates': ['June 6, 2010', 'April 18, 2010', 'July 25, 2011'],
  'eurodates': ['22 June 1910',
   '18 December 1995',
   '22 June 1910',
   '30 January 1944',
   '12 May 1941',
   '3 February 1945',
   '8 November 1949',
   '12 July 1950',
   '18 December 1995']},
 '31650381': {'amdates': ['December 28, 2013'], 'eurodates': []},
 '49313361': {'amdates': [], 'eurodates': []},
 '9940234': {'amdates': [],
  'eurodates': ['31 May 2012',
   '10 May 1893',
   '3 March 1883',
   '31 October 1548',
   '30 August 2007',
   '5 June 2012']},
 '13543': {'amdates': [], 'eurodates': []},
 '29166225': {'amdates': ['April 15, 1972', 'January 12, 1957'],
  'eurodates': []},
 '22692116': {'amdates': ['February 12, 1964',
   'December 3, 2010',
   'July 30, 2010'],
  'eurodates': []},
 '5108785': {'amdates': [],
  'eurodates': ['15 October 1979', '15 October 1979']},
 '34040': {'amdates': [], 'eurodates': []},
 '2048766': {'amdates': [],
  'eurodates': ['26 March 2001',
   '15 September 2009',
   '1 March 2004',
   '26 December 2005',
   '29 May 2006']},
 '22303': {'amdates': ['August 1, 1774',
   'September 30, 1774',
   'December 22, 1877',
   'March 29, 1883',
   'March 16, 1926'],
  'eurodates': []},
 '20398264': {'amdates': ['October 12, 1970',
   'February 7, 2006',
   'March 27, 2012',
   'May 20, 2012',
   'September 24, 2013',
   'May 5, 2007',
   'March 2, 2012',
   'April 11, 2012',
   'July 21, 1991',
   'August 20, 2005',
   'September 24, 2008'],
  'eurodates': []},
 '43534': {'amdates': [], 'eurodates': []},
 '15157915': {'amdates': [],
  'eurodates': ['11 May 2005',
   '26 March 2010',
   '22 February 2008',
   '10 April 2008']},
 '1038594': {'amdates': [],
  'eurodates': ['9 June 1975',
   '23 April 2011',
   '24 December 2005',
   '12 March 2008',
   '6 September 2011',
   '1 June 2009',
   '17 April 2002',
   '3 July 2001',
   '22 November 1999']},
 '146879': {'amdates': [], 'eurodates': []},
 '63132': {'amdates': ['March 2, 1962',
   'January 21, 1984',
   'December 13, 2012',
   'January 24, 2011',
   'October 19, 2011',
   'January 18, 2009',
   'June 4, 2009',
   'June 24, 2009',
   'December 15, 2010',
   'May 31, 1993',
   'February 19, 1995',
   'May 7, 2002',
   'March 29, 2004',
   'Aug 16, 2006'],
  'eurodates': ['29 April 1989']},
 '29785591': {'amdates': [], 'eurodates': []},
 '39462426': {'amdates': ['January 2, 2012',
   'June 13, 2016',
   'November 11, 2014',
   'December 25, 2014',
   'January 16, 2015'],
  'eurodates': []},
 '45694879': {'amdates': ['July 5, 2016',
   'July 6, 2016',
   'March 29, 2009',
   'December 5, 2014',
   'March 2, 2015',
   'March 29, 2009',
   'June 29, 2015',
   'July 17, 2015',
   'July 24, 2015',
   'August 10, 2015',
   'January 14, 2016',
   'January 29, 2016',
   'August 12, 2015',
   'August 20, 2015',
   'March 10, 2015',
   'July 7, 2015',
   'September 9, 2015',
   'September 27, 2015',
   'February 4, 2016',