First enstablish the SSL via PuTTY, connecting to the tool-login.wmflabs.org, from port 4711 to the destination enwiki.labsdb (at port 3306). Insert your credentials below:

In [1]:
import pymysql
import datetime
import pandas as pd

wikiconn  = pymysql.connect(host='localhost',
                            user='u15068',                 # get from replica.my.cnf
                            password='G5V2xrWbdFTSkyoU',   # get from replica.my.cnf
                            port=4711,
                            db='enwiki_p',
                            charset='utf8')
wikiCur = wikiconn.cursor()

In [2]:
def BatchQueryFromList(listOfIDs,columnThatContainsIDs,tableToQuery,listOfColumnsToRetrieve):
    '''listOfIDs is a list of keys to retrieve from an SQL table
    columnThatContainsIDs is the column in that table that stores the keys
    tableToQuery is the table containing the information you want
    listOfColumnsToRetrieve is a list containing the SQL DB table column names you want to retrieve
    Returns a pandas dataframe with column names equivalent to those in the DB you queried'''
    baseQ = "SELECT {} FROM {} WHERE {} IN ({})"
    colsForQ = ",".join(listOfColumnsToRetrieve)
    idsBigChunk = ",".join(listOfIDs)
    preppedQ = baseQ.format(colsForQ,tableToQuery,columnThatContainsIDs,idsBigChunk)
    wikiCur.execute(preppedQ)
    try:
        result_df.append(list(wikiCur.fetchall()))
    except NameError:
        result_df = pd.DataFrame(list(wikiCur.fetchall()),columns=listOfColumnsToRetrieve)
    return result_df

In [3]:
# get IDS for EPAs from github file. For NEPAs: ../Sampling/071816_batch1_sampled_ids.csv
ids2Q = pd.read_csv("../Sampling/071816_batch1_sampled_ids.csv")  # For EPAs: ../WikiSQL/070916_edit_protected_articles.csv

# and convert them to STRINGS: this maps the values of the np.array into strings, and makes a list
ids2Qstr = list(map(str, ids2Q["page_id"].values)) 
print(len(ids2Qstr))

10026

In [4]:
ids2Qstr[(len(ids2Q)-5):]

['30356692', '9163210', '12533800', '1693093', '47915121']

In [5]:
# the dataframe obtained from the quarry function
# for PageLinks: "pl_from", "pagelinks", ["pl_from", "pl_title"]
# for categorylinks: "cl_from","categorylinks",["cl_from","cl_to"]

df_link = BatchQueryFromList(ids2Qstr,"pl_from","pagelinks", ["pl_from", "pl_title"])
len(df_link)

1753256

In [6]:
df_link[(len(df_link)-5):]

          pl_from                               pl_title
1753251  51105617        b'India_Bihar_location_map.svg'
1753252  51105617            b'Location_map_India_Bihar'
1753253  51105617  b'Use_British_English_from_July_2016'
1753254  51105617        b'Use_dmy_dates_from_July_2016'
1753255  51105617       b'Location_map/data/India_Bihar'

In [7]:
# this decodes the links

link = df_link
link["pl_title"] = [x.decode("utf-8") for x in df_link["pl_title"].values]

In [8]:
len(link)
link[:3]

   pl_from                              pl_title
0      615                   12th_man_(football)
1      615  1933_Pittsburgh_Pirates_(NFL)_season
2      615  1934_Pittsburgh_Pirates_(NFL)_season

In [9]:
link.to_csv('pl_nepa_Batch1.csv', encoding="utf-8")

In [10]:
saved_links = pd.read_csv("pl_nepa_Batch1.csv")

In [11]:
del saved_links["Unnamed: 0"]
saved_links[:3]

   pl_from                              pl_title
0      615                   12th_man_(football)
1      615  1933_Pittsburgh_Pirates_(NFL)_season
2      615  1934_Pittsburgh_Pirates_(NFL)_season

In [12]:
len(saved_links)
saved_links[(len(saved_links)-5):]

          pl_from                            pl_title
1753251  51105617        India_Bihar_location_map.svg
1753252  51105617            Location_map_India_Bihar
1753253  51105617  Use_British_English_from_July_2016
1753254  51105617        Use_dmy_dates_from_July_2016
1753255  51105617       Location_map/data/India_Bihar

In [13]:
art_num = set(saved_links["pl_from"])

In [14]:
len(art_num)

10026