In [1]:
import pymysql

# your username and password go here!
creds = {'user': 'fausto', 
         'pswd': 'dapuzzo'} 


connection = pymysql.connect(host="atriskwiki.cbprs6vpqcbz.us-west-1.rds.amazonaws.com",
                            user=creds['user'],
                            password=creds['pswd'],
                            port=3306,
                            db="atriskwiki",
                            charset="utf8")

cur = connection.cursor()

In [ ]:
import pandas as pd
cl_epa = pd.read_csv("..\CategoryAndPageLinks\cl_epa_engineered.csv", "r")
cl_nepa = pd.read_csv("..\CategoryAndPageLinks\cl_nepa_engineered_encoded.csv", "r")

In [3]:
import pandas as pd
cl_nepa = pd.read_csv("..\CategoryAndPageLinks\cl_nepa_engineered_encoded.csv", "r")

In [4]:
cl_nepa.shape

(75837, 148)

In [5]:
cl_nepa[:3]

,"page_id,1961_bi","ths,1967_bi","ths,1971_bi","ths,1977_bi","ths,1992_bi","ths,20th_centu",y_ame,ican_act,"esses,20th_centu",y_ame.1,...,"tt,s_basketball_playe","s,s_fantasy_films,t","ack_and_field,united_states,united_states_men,united_states_p","esidential_candidates,walt_disney_pictu","es_films,membe","_states_of_the_united_nations,","epublics,scientology_",elated_cont,ove,sies
0,"316,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"572,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"615,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN